
/*Initially I have dark theme as a default and use prefer light in light.css to set light preferred styles there */
:root.theme-dark { /*js adds modifier theme-dark*/
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --sub-text-color: #000028;
    --accent-color: #ff0070;
    --btn-color:#ff0070;
    --backgroung-image: url(../images/cover-image-dark.png);
    --main-bg-color: #000028;
    --nav-hover-color: rgb(255 0 112 / 0.4);
    --display-rec: flex;
}
