/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light { /*.page.theme-light could also be used as a parent, js adds this class if light*/
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --backgroung-image: url(../images/cover-image-light.png);
    --main-bg-color: #fff1f7; /* var(--background-color-light,#fff)*/
    --display-rec: none;
    --nav-hover-color: rgb(50 49 45 / 0.4);


    @media (width >= 1024px) {
        .footer__title {
            text-shadow: 2px 2px 0 var(--footer-title-desk-color);
        }
    }
}

/*
.theme-light .decor__element {
    display: none;
}

.theme-light .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
}
*/
@media (prefers-color-scheme: light) {
    /*MUST BE connected after variables.css in styles.css to let be redefined*/
    :root {
        --title-color: #FFC2E6;
        --text-color: #353430;
        --sub-text-color: #353430;
        --accent-color: #ff8dcb;
        --btn-color: #353430;
        --backgroung-image: url(../images/cover-image-light.png);
        --main-bg-color: #fff1f7;
        --nav-hover-color: rgb(50 49 45 / 0.4);
        --display-rec: none;

        @media (width >= 1024px) {
            .footer__title {
                text-shadow: 2px 2px 0 var(--footer-title-desk-color);
            }
        }
    }

    /*.decor__element { /*we may not have theme-light in prioritized theme (auto) so redefine it here*/
    /*    display: none;
    /*} */
}

/*
    .header__theme-menu-button:hover {
        border: 1px solid rgba(50, 49, 45, 0.40);
    }
}

 */