/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    margin: 0 auto;
    background-image: var(--backgroung-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font, monospace);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 23.4px;

}

.header {
    min-block-size: 100vh;
    padding: 20px;
    display: grid;
    position: relative;
    grid-template-rows: 1fr min-content 1fr;
}

/*buttons*/

.header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header__theme-menu-button {
    padding: 0 13px;   /**/
    color: var(--btn-color);
    text-align: center;
    border: none;
    background: transparent;
}

/*button actions*/

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
    cursor: pointer;
}

/*РЕС*/

.decor__element {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--btn-color);
    text-align: center;
    padding-right: 8px;
    text-transform: uppercase;
    margin: 20px;
}

.decor__element::after {
    display: block;
    content: "";
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: var(--accent-color);
    filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/*angles styles*/

.frame::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border-top: 1px solid var(--btn-color);
    border-right: 1px solid var(--btn-color);
    inline-size: 25px;
    block-size: 25px;
    margin: 20px;
}

.frame::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    border-bottom: 1px solid var(--btn-color);
    border-left: 1px solid var(--btn-color);
    inline-size: 25px;
    block-size: 25px;
    margin: 20px;
    margin-left: 5px; /*fix header bottom left angle*/
}


/*titles*/

.header__title {
    margin-left: -34px; /*-20px*/
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--title-color);
    font-weight: 700;
    line-height: 83%;
    letter-spacing: 0px;
}

.title-decor {
    font-weight: 700;
    background-color: var(--accent-color);
    font-size: var(--font-size);
    line-height: 23.4px;
    color: var(--sub-text-color);
}

.header__text { /*red title bg*/
    max-inline-size: 491px;
    max-block-size: 71px;
    justify-self: end;
    align-self: center;
}

/*section title*/

.question__section-title {
    color: var(--btn-color);
    font-weight: 700;
    line-height: 23.4px; /* 130% */
    font-size: var(--font-size);
}

/*section text*/

.question__section-answer-text {
    font-size: var(--font-size);
    color: var(--text-color);
}

/*links*/

.question__section-answer-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {
    border-bottom: 1px solid var(--text-color);
}

.question__section-answer-link:focus {
    outline: none;
}

.question__section-answer-link:focus-visible {
    border: 1px solid var(--text-color);
}

/*why-section*/

.question__section_why {
    display: grid;
    grid-template-columns: 34% 66%;
    padding-block-start: 60px;
    margin: 0 20px;
}

.question__section-answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question__section-answer p:first-of-type {
    padding-block-end: 10px;
}

/*causes-section*/

.question__section_causes {
    padding-block-start: 80px;
    padding-block-end: 80px;
    margin: 0 20px;
}

.question__section-answer-causes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block-start: 20px;
}

.question__section-title-causes {
    max-inline-size: 315px;
}

.question__section-answer-title-causes {
    margin-block-end: 10px;
}

/*advice-section*/

.question__section_advice {
    display: grid;
    grid-template-columns: 34% 66%;
    padding-block-end: 80px;
    margin: 0 20px;
}

.question__section-answer-subtitle {
    font-weight: 400;
}

.question__section-answer-advice {
    display: grid;
    gap: 20px;
}

.question__section-answer-text-advice {
    padding-block-start: 10px;
}

/*gallery*/

.question__section_gallery {
    padding-block-end: 60px;
}

.question__section-title-gallery {
    margin: 0 20px 20px 20px;
}

.question__section__gallery-container {
    margin: 0 20px;
    display: grid;
    gap: 20px;
    grid-template-areas: inherit;
}

.question__section__gallery-item {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

.question__section__gallery-item:first-of-type {
    grid-column: 1 / 3;
}

.question__section__gallery-item:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.question__section__gallery-item:nth-of-type(3) {
    grid-row: 2 / 4;
}

.question__section__gallery-item:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.question__section__gallery-item:last-of-type {
    grid-column: 2 / 4;
}

/*footer styles*/

.footer {
    min-block-size: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--title-color);
    font-weight: 700;
    line-height: 82.5%;

}

/*basic styles - 375-767 (default)*/
/*width >=768px*/
/*width>=1024px*/
/*768px 768х1024*/

@media (max-width: 768px) {
    .header__theme-menu {
        display: flex;
        justify-content: flex-end;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 13px;
    }

    .header__text {
        max-inline-size: 364px;  /*364px red bg above*/
        max-block-size: 117px;
    }

    .header__title { /*no focus*/
        margin-left: -36px;
    }

    .question__section_why {

        grid-template-columns: 33% 67%;
        gap: 20px;
        padding-inline-end: 20px;
    }

    .question__section-answer-causes-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-block-start: 20px;
    }

    .question__section-title-causes {
        max-inline-size: 236px;
    }

    .question__section_advice {
        display: grid;
        grid-template-columns: 35% 65%;
        padding-block-end: 80px;
    }

    .footer {
        padding: 20px;
        display: flex;
        justify-content: center;
    }
}

/*375px (375х668)*/

@media (max-width: 375px) {
    .header {
        padding: 10px;
    }

    .header__title { /*no focus*/
        margin-left: 0px;
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__text {
        max-inline-size: 355px;
        max-block-size: 117px;
    }

    .question__section_why {
        margin: 0px 10px;
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .question__section_causes {
        margin: 0 10px;
        padding-block-start: 50px;
        padding-inline-end: 0;
        padding-block-end: 50px;
    }

    .question__section-title-causes {
        min-inline-size: 355px;
    }

    .question__section-answer-causes-container {
        display: flex;
        flex-direction: column;
    }

    .question__section_advice {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-block-end: 50px;
    }

    .question__section_gallery {
        padding: 0 0 40px 0;
    }

    .question__section-title-gallery {
        margin: 0 10px 10px 10px;
    }

    .question__section__gallery-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 10px;
    }

    .footer {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .decor__element {
        margin: 10px;
    }

    .frame::before {
        margin: 10px;
    }

    .frame::after {
        block-size: 25px;
        margin: 10px;
    }
}


