/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --sub-text-color: #000028;
    --accent-color: #ff0070;
    --font: 'IBM Plex mono';
    --font-size: 18px;
    --btn-color:#ff0070;
    --backgroung-image: url(../images/cover-image-dark.png);
    --header-pudding: 20px;
    --main-bg-color: #FFFFFF;
    --nav-hover-color: rgb(255 0 112 / 0.4);
    --display-rec: flex;
}